body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.flexible-container{
    display: flex;
}
.khadimul{
    width: 50%;
    padding-left: 7%;
    
}
h1{
    font-size: 50px;
}
span{
    color: orangered;
}
h2{
    font-size: 40px;
}
p{
    color: gray;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(253, 128, 82), orangered);
    padding: 10px 15px;
    border-radius:5px ;
    color: white;
}
.khadimul img{
    width: 100%;
   
}
.dream{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.download-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(253, 128, 82), orangered);
    padding: 10px 15px;
    border-radius:5px ;
    color: white;
}
.big{
    margin-top: 5%;
    margin-right: 7%;
}
.experiance{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: 7% 0;
    
}
.web-dev{
    width: 50%;
    padding-left: 3%;
    padding-bottom: 5%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 4%;
    margin-right: 4%;
    
}
#baby{
    background: linear-gradient(#fff,#fff) padding-box, linear-gradient(blue,red) border-box;
    border-left: 8px  solid transparent;
    border-right: 8px  solid transparent;
    border-radius: 3%;
    
}
#stack{
    background: linear-gradient(#fff,#fff) padding-box, linear-gradient(red,blue) border-box;
    border-left: 8px  solid transparent;
    border-right: 8px  solid transparent;
    border-radius: 3%;
    
}
footer{
    text-align: center;
    font-size: 13px;
}